body{
    margin: 20px;
}
#pokeDiv{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#pokeDiv div{
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
}
#pokeDiv div img{
    width: 50%;
}